<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google-site-verification" content="">
    <meta property="fb:admins" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" href="{{asset "js/styles/obsidian.css"}}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" type="text/css" media="print" href="{{asset "css/print.css"}}" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <header class="blog-header">
        <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h2 class="blog-description">{{@blog.description}}</h2>
        <div class="custom-links">
            <a href="https://twitter.com/mhaddl" target="_blank">Twitter</i></a>&nbsp;&nbsp;
            <a href="https://github.com/mhaddl" target="_blank">Github</i></a>&nbsp;&nbsp;
            <a href="http://mhaddl.me" target="_blank">mhaddl.me</a>&nbsp;&nbsp;
        </div>
    </header>
    
    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script src="{{asset "js/readingTime.min.js"}}"></script>
    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
</body>
</html>
